 <div id="choose" class="container_choose">
  <h1>Which animal would you like to be?</h1>
  <div class="petal_container">
    <div class="petal left" ng-mousedown="next('monkey')">
      <h2>Vervet Monkey</h2>
      <p>This animal&rsquo;s eyes see a range of colors that will look familiar.</p>
      <button>Select monkey</button>
    </div>
    <div class="petal right" ng-mousedown="next('mongoose')">
      <h2>Banded Mongoose</h2>
      <p>This animal&rsquo;s eyes see far fewer colors than we&rsquo;re used to.</p>
      <button>Select mongoose</button>
    </div>
  </div>
</div>